/*main*/
.main_left {
  margin-left: 15px;
}
.main_left .search {
  margin-top: 40px;
}
.main_left .search > form {
  height: 35px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  position: relative;
}
.main_left .search > form .top_btn {
  position: absolute;
  height: 37px;
  width: 37px;
  border: 0;
  right: 0;
  top: 0;
  color: #ccc;
  font-size: 16px;
  outline: none;
  background-color: unset;
}
.main_left .search > form > input {
  height: 35px;
  width: 100%;
  line-height: 35px;
  font-size: 14px;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid #e4eaec;
  border-radius: 5px;
}
.main_left .search > form > input:focus {
  border: 1px solid #0a63ab;
  border-radius: 5px;
}
.main_left .travel_dev {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /*    .ul_left1 {
      margin-top: 10px;
      >li {
        height: 50px;
        line-height: 50px;
        background-color: #e6e6e6;
        float: unset;
        position: relative;
        margin-top: 2px;
        border: 0;
        >a {
          text-decoration: none;
          font-size: 16px;
          color: #333;
          display: block;
          height: 100%;
          width: 100%;
          &:hover {
            color: @baseColor;
          }

        }
      }
    }*/
}
.main_left .travel_dev > ul {
  padding: 0 10px 0 10px;
}
.main_left .travel_dev > ul > li {
  border-bottom: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  float: unset;
}
.main_left .travel_dev > ul > li > a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #333;
  padding-left: 0;
}
.main_left .travel_dev > ul > li > a:hover {
  color: #0a63ab;
  text-decoration: underline;
  background-color: unset;
  border: 0;
}
.main_left .travel_dev h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  background-color: #0a63ab;
  height: 40px;
  line-height: 40px;
  border-radius: 5px 5px 0 0;
}
.main_left .travel_dev h3 > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  margin-left: 10px;
}
.main_left .travel_dev h3 > a:hover {
  text-decoration: none;
}
.main_left .travel_dev .nav-tabs > li.active > a {
  background-color: unset;
  border: 0;
}
.main_right .right_top {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #ccc;
}
.main_right .right_top > ul {
  position: absolute;
  bottom: -4px;
}
.main_right .right_top > ul > li {
  display: inline-block;
  padding: 0 5px 0 5px;
}
.main_right .right_top > ul > li > a {
  text-decoration: none;
  color: #999;
}
.main_right .right_top > ul > li > a:hover {
  color: #0a63ab;
}
.main_right .right_top > ul > li > a > span {
  margin-right: 5px;
}
.main_right .content nav {
  position: relative;
  height: 100px;
}
.main_right .content nav ul {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.main_right .content .travel_img {
  padding: 10px;
}
.main_right .content .travel_img > li {
  border-radius: 5px;
  position: relative;
  display: block;
  float: left;
  margin-bottom: 20px;
  width: 24%;
  height: 200px;
  margin-right: 1%;
  border: 1px solid #ccc;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  /*        .btn_look {
          position: absolute;
          display: block;
          left: 50%;
          top: 30%;
          transform: translate(-50%);
          width: 80px;
          height: 40px;
          line-height:40px;
          text-align: center;
          background-color: rgba(255,255,255,.6);
          border-radius: 5px;
          font-size: 16px;
          color: @baseColor;
          transition: background-Color 0.3s;
          &:hover {
            text-decoration: none;
            background-color: @baseColor;
            color: #fff;
          }
        }*/
}
@media screen and (max-width: 992px) {
  .main_right .content .travel_img > li {
    width: 48%;
    margin-right: 2%;
  }
}
.main_right .content .travel_img > li > a {
  display: block;
  width: 100%;
  height: 160px;
  overflow: hidden;
}
.main_right .content .travel_img > li > a > img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.main_right .content .travel_img > li > a > img:hover {
  transform: scale(1.1);
}
.main_right .content .travel_img > li p {
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.come_top {
  display: none;
  position: fixed;
  right: 5px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  background-color: #0a63ab;
  text-align: center;
}
.come_top > span {
  text-align: center;
  line-height: 30px;
  color: #fff;
}
